 /*1 por elemento*/
 h1 {
     color: red;
     background-color: blue;
     border: 1px solid black;
     width: 600px;
     height: 90px;
 }

 h2 {
     color: #C47F1A;
     background-color: #9C4448;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 40px;
     margin-top: 50px;
     margin-bottom: 30px;
     border-bottom: 1px solid #9C9844;
     /* asi se comenta en css*/
 }

 p {
     background-color: blueviolet;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }

 body {
    background-color: black;
 }