.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

nav {
    text-align: center;
}

body {
    background-color: rgb(193, 206, 148);
}

p::before {
    content: attr(type);
    display: block;
    font-size: 20px;
    color: rgb(56, 65, 31);
    margin-top: 35px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(61, 116, 75);
    background: rgb(203, 240, 212);
    color: rgb(40, 77, 30);
}

footer {
    padding-top: 50px;
}

button {
    border-radius: 15px;
    border: 2px;
    font-size: 20px;
    padding: 10px 20px;
    font-family: digital;
    background-color: rgb(255, 146, 127);
    margin-top: 30px;
    justify-items: center;
}

.centrar_boton {
    display: flex;
    justify-content: center;
}
input:focus{
    outline: none;
    border-bottom: 3px solid rgb(255, 146, 127);
}
.formulario {
    background: rgb(125, 165, 114);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 10px 30px rgba(30, 43, 18, 0.89);
}
h2,header{
    color: rgb(40, 77, 30);
    border-bottom: 2px solid rgb(73, 139, 117);
    font-size: 35px;
    margin-bottom: 20px;
}